body{
    background-color:#172238;
}
.heading{
    font-family: sans-serif;
    text-align: center;
    margin-top: 100px;
    font-size: 38px;
    color: white;
}

.articles{
    width: 100%;
    text-align: center;
    color: white;
}

img{
    width: 800px;
    height: 300px;
}

@media only screen and (max-width: 360px) {
    .news{
        margin: auto;
        text-align: center;
    }

    img{
        margin: auto;
        width: auto;
        height: 200px;
    }
}