.main-container {  
    display: flex;  
    flex-wrap: wrap;  
  }  
  html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #172238;
}
  section.contact form {
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 29px;
    width: 60%;
    transform: translate(0%, 0%);
}
  .location-and-date {
    width: 100%;
  }
  .location-and-date__location {
    margin: 0;
    font-size: 2em;
    font-weight: 600;
  }
  .current-temperature {  
    display: flex;  
    margin-top: 0.25em;  
    width: 100%;  
  }  
    
  .current-temperature__icon-container {  
    flex-grow: 1.25;  
    text-align: center;  
  }  
    
  .current-temperature__content-container {  
    flex-grow: 1;  
    text-align: center;  
  }  
    
  .current-temperature__icon {  
    width: 10.5em;  
  }  
    
  .current-temperature__value {  
    font-size: 5.25em;  
    font-weight: 300;  
  }  
    
  .current-temperature__summary {  
    margin-top: -0.5em;  
    margin-left: -0.6em;  
    font-size: 1.125em;  
  }
    
  .weather-by-hour {  
    display: none;  
    width: 100%;  
    border: 3px solid blue;  
  }  
    
  .next-5-days {  
    width: 100%;  
    border: 3px solid yellow;  
  }


  @media screen and (min-width: 768px) {
    .weather-by-hour {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    .current-temperature,
    .current-stats {
      width: 50%;
    }
  }
  @media screen and (min-width: 1140px) {
    .main-container {
      width: 1120px;
      margin: 16px auto;
      font-size: 1.1em;
    }
  }
  footer {
    background-color: #152036;
    text-align: center;
    position: absolute;
    width: 100%;

  }
   .footerbottom
   {
      bottom: 0;
   }
    

  .container {
    width: 100%;
    
    margin-right: auto;
    margin-left: auto;
	max-width: 400px;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.text-dark {
    color: #343a40!important;
}
.text-center {
    text-align: center!important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.p-4 {
    padding: 1.5rem!important;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
.font-weight-bold {
    font-weight: 700!important;
}
.text-center {
    text-align: center!important;
}
.text-success {
    color: #28a745!important;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.rounded {
    border-radius: .25rem!important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.text-center {
    text-align: center!important;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.text-muted {
    color: #6c757d!important;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.d-none {
  display: none !important;
}
.icon {
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
}

section.contact form input {
  width: 99%;

  height: unset;
  background-color: rgba(250,250,250,0.1);
  border-radius: 0px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 13px;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}